  
  <img
  src='{{poster_path}}'
  alt='Film Poster'
  class='modal-film__poster'
  width='375'
  height='563'
/>

<div class='card-container'>
  <h2 class='modal-film__title'>{{title}}</h2>

  <table class='modal-film__features'>
    <tr class='modal-film__row'>
      <td class='modal-film__feature'>Vote / Votes</td>
      <td class='modal-film__feature-value'>
        <span class='modal-film__value-vote'>{{sliceVoteAverage}}</span>
        /
        <span class='modal-film__value-votes'>{{vote_count}}</span>
      </td>
    </tr>
    <tr>
      <td class='modal-film__feature'>Popularity</td>
      <td class='modal-film__feature-value'>{{slicePopularity}}</td>
    </tr>
    <tr>
      <td class='modal-film__feature'>Original Title</td>
      <td class='modal-film__feature-value'>{{original_title}}</td>
    </tr>
    <tr>
      <td class='modal-film__feature'>Genre</td>
      <td class='modal-film__feature-value'>{{genresName}}</td>
    </tr>
  </table>

  <article class='modal-film__article'>
    <h3 class='modal-film__article-title'>ABOUT</h3>
    <p class='modal-film__article-text'>
      {{overview}}
    </p>
  </article>
  <div class='modal-film__buttons'>
    <button type='button' class='modal-film__button modal-film__button-watched'>
      ADD TO WATCHED
    </button>
    <button type='button' class='modal-film__button modal-film__button-queue'>
      ADD TO QUEUE
    </button>
  </div>
</div>